beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
feedparser==6.0.2
httpie==2.4.0
idna==2.10
Pygments==2.8.0
requests==2.25.1
requests-toolbelt==0.9.1
sgmllib3k==1.0.0
soupsieve==2.2
urllib3==1.26.4
